body{
    padding: 0;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 30px;
    min-width: 1200px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.container-2{
    width: 1014px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header,
.footer{
    background-color: #363636;
    color: #fff;
}

.header{
    background: url('img/wheat-back.jpg') no-repeat center;
    background-size: cover;    
    min-height: 550px;
    padding-top: 60px;
}

.header-top{
    margin-bottom: 120px;
    height: 76px;
}

.header-top img{
    float: left;
}

.logo{
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
}

.main-menu,
.footer-menu{
    width: 600px;
    list-style: none;
    text-transform: uppercase;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.main-menu li,
.footer-menu li{
    margin: 0;
    float: left;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-right: 54px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu li a,
.footer-menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 19px;
}

.main-menu li:last-child,
.footer-menu li:last-child{
    padding-right: 0;
}

.main-menu li a:hover,
.footer-menu li a:hover{
    color: #ffcb78;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #fff;
}

.main-menu li a:active,
.footer-menu li a:active{
    color: rgba(255, 203, 120, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #fff;
}

.btn{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 15px;
    border: none;
}

.brown-btn{
    color: white;
    background-color: #834700;
}

.brown-btn:hover{
    color: white;
    background-color: #6a3900;
}

.brown-btn:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a3900;
}

.white-btn{
    color: #834700;
    border: 2px solid #834700;
}

.white-btn:hover{
    color: #6a3900;
    border: 2px solid #6a3900;
}

.white-btn:active{
    color: rgba(106, 57, 0, 0.3);
    border: 2px solid rgba(106, 57, 0, 0.3);
}

.ghost-btn{
    color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.ghost-btn:hover{
    color: #fff;
    background-color: #a5a097;
    border: 2px solid #a5a097;
}

.ghost-btn:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #8f8a81;
    border: 2px solid #8f8a81;
}

h2,
h3{
    text-transform: uppercase;
}

h2{
    font-size: 40px;
    padding: 0;
    margin: 0;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

.new-items{
    padding-top: 88px;
    padding-bottom: 70px;
}

.new-item-list{
    margin-top: 82px;
}

.new-item{
    float: left;
    border-left: 1px solid #e5e5e5;
    padding: 8px 24px 0 34px;
    width: 340px;
}

.new-item:last-child{
    border-right: 1px solid #e5e5e5;
}

.new-item-structure{
    font-size: 14px;
    line-height: 24px;
}

.new-item img{
    fl oat: left;
}

.new-item-info{
    float: right;
}

.new-item-table{
    float: right;
}

.principles{
    background-color: #ffcb78;
    padding-top: 80px;
    padding-bottom: 100px;
}

.principles ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.principle-item{
    float: left;
    padding-top: 80px;
    padding-bottom: 10px;
    width: 210px;
    height: 150px;
    background-repeat: no-repeat;
}

.principle-brew{
    background-position: 0 top;
    background-image: url('img/icon-brew.png');
    padding-right: 95px;
   
}

.principle-matreshka{
    background-image: url('img/icon-matreshka.png');
    padding-right: 95px;
    padding-left: 95px;
    background-position: 95px top;
    border-left: 1px solid #e5b66c;
    border-right: 1px solid #e5b66c;
}

.principle-thumbsup{
    background-image: url('img/icon-thumbsup.png');
    background-position: 95px top;
    padding-left: 95px;
    padding-right: 1px;
}

.history-topics{
    margin-top: 95px;
}

.history-topics dl{
    margin-top: 85px;
}

.history-topics dd{
    margin: 0;
}

.history-topics dd img{
    float: right;
}

.history-topics dd p{
    width: 490px;
}

.topic-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 10px;
} 

.topic-source{
    font-weight: normal;
    text-transform: none;
    float: right;
}

.topic-title a{
    color:#834700;
}

.topic-title a:hover{
    color:#6a3900;
}

.topic-title a:active{
    color:#cab7a2;
}

.article{
    background-color: #ede5d8;
    margin: 0;
    padding-top: 88px;
    padding-bottom: 105px;
}

.article blockquote{
    margin-left: 0;
    margin-top: 82px;
    width: 690px;
}

.article blockquote p{
    margin-bottom: 55px;
}

.article cite{
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.container{
    border: 1px solid black;
}

.price-list{
    border-collapse: collapse;
}

.price-list td,
.price-list th{
    border-bottom: 1px solid #363636;
}

.price-list tr{
    line-height: 40px;
}

.price-list th{
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.price-list th:last-child{
    text-align: right;
}

.price-list tr td:first-child{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.order{
    background-color: #ffcb78;
}

.order label{
    text-transform: uppercase;
    font-weight: bold;
}

.order input[type="text"],
.order select,
.order textarea {
    font: inherit;
    color: inherit;
}

.order input[type="text"]:hover,
.order select:hover,
.order textarea:hover {
    font: inherit;
    color: inherit;
}

.order input[type="text"]:focus,
.order select:focus,
.order textarea:focus {
    font: inherit;
    color: inherit;
}

.developer a:last-child{
    text-decoration: none;
    color:brown;
}

.developer a:last-child:hover{
    color:#ffcb78;
}

.developer a:last-child:active{
    color:#ffcb78;
}