body{
    padding: 0;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    font-size: 14pt;
    min-width: 1200px;
}

.container{
    width: 1010px;
    margin: 0 auto;
}

.header,
.footer{
    background-color: #363636;
    color: #fff;
}

.header{
    background: url('img/wheat-back.jpg') no-repeat center;
    background-size: cover;    
    min-height: 550px;
    padding-top: 60px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-top{
    margin-bottom: 125px;
}

.header-top img{
    float: left;
}

.logo{
    font-size: 70pt;
    font-weight: bold;
    text-align: center;
}

.main-menu,
.footer-menu{
    width: 600px;
    list-style: none;
    text-transform: uppercase;
    float: right;
    margin: 0;
    padding: 0;
}

.main-menu li a,
.footer-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 23px;
    padding-bottom: 22px;
}

.main-menu li a:hover,
.footer-menu li a:hover{
    color: #ffcb78;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #fff;
}

.main-menu li a:active,
.footer-menu li a:active{
    color: rgba(255, 203, 120, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #fff;
}

.btn{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 22px 18px;
    font-size: 16pt;
    border: none;
}

.brown-btn{
    color: white;
    background-color: #834700;
}

.brown-btn:hover{
    color: white;
    background-color: #6a3900;
}

.brown-btn:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a3900;
}

.white-btn{
    color: #834700;
    border: 2px solid #834700;
}

.white-btn:hover{
    color: #6a3900;
    border: 2px solid #6a3900;
}

.white-btn:active{
    color: rgba(106, 57, 0, 0.3);
    border: 2px solid rgba(106, 57, 0, 0.3);
}

.ghost-btn{
    color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.ghost-btn:hover{
    color: #fff;
    background-color: #a5a097;
    border: 2px solid #a5a097;
}

.ghost-btn:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #8f8a81;
    border: 2px solid #8f8a81;
}

h2,
h3{
    text-transform: uppercase;
}

.new-item{
    display: inline-block;
    border-left: 1px solid #e5e5e5;
    padding-left: 10px;
    padding-top: 10px;
}

.new-item:last-child{
    border-right: 1px solid #e5e5e5;
}

.principles{
    background-color: #ffcb78;
}

.principle-item{
    list-style: none;
    border-left: 1px solid #e5b66c;
    padding-top: 90px;
}

.principle-item:first-child{
    border-left: none;
}

.principle-brew{
    background: url('img/icon-brew.png') no-repeat top left;
}

.principle-matreshka{
    background: url('img/icon-matreshka.png') no-repeat top left;
}

.principle-thumbsup{
    background: url('img/icon-thumbsup.png') no-repeat top left;
}

.history-topic a{
    color:#834700;
}

.history-topic a:hover{
    color:#6a3900;
}

.history-topic a:active{
    color:#cab7a2;
}

.article cite{
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.price-list{
    border-collapse: collapse;
}

.price-list td,
.price-list th{
    border-bottom: 1px solid #363636;
}

.price-list tr{
    line-height: 40px;
}

.price-list th{
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.price-list th:last-child{
    text-align: right;
}

.price-list tr td:first-child{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.order{
    background-color: #ffcb78;
}

.order label{
    text-transform: uppercase;
    font-weight: bold;
}

.order input[type="text"],
.order select,
.order textarea {
    font: inherit;
    color: inherit;
}

.order input[type="text"]:hover,
.order select:hover,
.order textarea:hover {
    font: inherit;
    color: inherit;
}

.order input[type="text"]:focus,
.order select:focus,
.order textarea:focus {
    font: inherit;
    color: inherit;
}

.developer a:last-child{
    text-decoration: none;
    color:brown;
}

.developer a:last-child:hover{
    color:#ffcb78;
}

.developer a:last-child:active{
    color:#ffcb78;
}